
<div class="container">
<div class="card text-center">
    
    <div> 
      <tr class="filter-by"><td><b>Filter By: &nbsp;</b></td><td><select (change)= "filterBy($event?.target)">
        <option value = 'new'>New to Old</option>
        <option value = 'old'>Old to New</option>
      </select>
    </td></tr>
    </div>
    <div class="card-body" *ngFor= "let blog of bloglist">
        <h5> <a class="anchor" (click)= "navigateToDetail(blog)"> {{blog?.title}} </a> </h5>
    <p class="card-text">Author: {{blog?.author}}</p>
    <p class="card-text">Date: {{blog?.publish_date}}</p>

    <p class="card-text">Description: {{blog?.description}}</p>

      <div class="card-footer text-muted">
        <!-- {{ blog?.publish_date}} -->
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    
    
  </div>
</div>
