body {
    background-color: #000
  }
  
  .card {
    width: 400px;
    border: groove;
    // margin-left: 20%;
    // margin-top: 16%;
  }
  
  
  .btr {
    border-top-right-radius: 5px !important
  }
  
  .btl {
    border-top-left-radius: 5px !important
  }
  
  .btn-dark {
    color: #fff;
    background-color: #010811;
    border-color: #010811
  }
  
  .btn-dark:hover {
    color: #fff;
    background-color: #01070f;
    border-color: #01070f
  }
  
  .nav-pills {
    display: table !important;
    width: 100%
  }
  
  .nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #01081340
  }
  
  .nav-item {
    display: table-cell;
    // background: #00050c2e
  }
  
  .form {
    padding: 10px;
    height: 300px
  }
  
  .form input {
    margin-bottom: 12px;
    border-radius: 3px
  }
  
  .form input:focus {
    box-shadow: none
  }
  
  .form button {
    margin-top: 20px
  }
  
  .main {
    // margin-left: 20%;
    margin-top: 00%;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: black;
  }
  a {
    color: black;
    text-decoration: none;
    background-color: transparent;
  }

 