/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.anchor{
    text-decoration: none;
    color:black;
    border-bottom:3px solid black;
    cursor:default;
    }
  
    .a{
      cursor:default;
    }
    #content h1 {
        font-size: 26px;
        margin: 15px 0px 5px 0px;
        border-bottom: 5px solid black;
        width:200px;
      }

      .container{
        width: 100%;
        padding-right: 20px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
        border: burlywood;
    }
    
    .pointer {
      cursor: pointer;
    }
    
    body {
      background: #eee
  }
  
  .date {
      font-size: 11px
  }
  
  .comments {
      overflow-y: scroll;
      max-height: 200px; 
  }
  
  
  .comment-desc {
  font-size: 12px;
  margin-top: -11px;
  padding-left: 9px;
  }
  
  .time-stamp {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  color: #636466;
  font-size: 13px;
  }
  
  .fs-12 {
      font-size: 12px
  }
  
  .shadow-none {
      box-shadow: none
  }
  
  
  .textarea {
      resize: none
  }
  
   .edit-btn {
    background: url('./assets/img/edit-btn-dark.svg') no-repeat center; background-size: 14px 
   }     
  
   .btn-action{ width: 16px; height: 16px; background-color: transparent; outline: none; padding: 0; margin: 0; border: none;
    &.edit{ background: url('./assets/img/edit-btn-dark.svg') no-repeat center; background-size: 14px;margin-left: 20px;
     }
    &:hover{ opacity: 0.8; }
}
.btn-action{ width: 16px; height: 16px; background-color: transparent; outline: none; padding: 0; margin: 0; border: none;
  &.save{ background: url('./assets/img/ftfilesave.svg') no-repeat center; background-size: 14px;margin-left: 20px;
   }
  &:hover{ opacity: 0.8; }
}

.fieldError {
  color: red !important;
  font-size: 13px !important;
  margin-bottom: 0;
  font-weight: 500
}