/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.anchor{
    text-decoration: none;
    color:black;
    border-bottom:3px solid black;
    cursor:alias;
    }

    .a{
      cursor:alias;
    }
    #content h1 {
        font-size: 26px;
        margin: 15px 0px 5px 0px;
        border-bottom: 5px solid black;
        width:200px;
      }

      .container{
        width: 100%;
        padding-right: 20px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
        border: burlywood;
    }

    .pointer {
      cursor: pointer;
    }
    

